body {
    font-family: Arial, sans-serif;
}

#tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: none;
    pointer-events: none;
}

.legend {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.legend .key {
    width: 30px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
}
